* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  background: linear-gradient(168.39deg, #4C4D48 -66.37%, #121212 74.61%); ;
  height: 100vh;
  .wrapper-container {
    overflow: scroll;
    height: 120px;
    width: 100%;
    &::-webkit-scrollbar {
      display: none;
    }
    .wrapper-app {
      height: 120px;
      width: 1100px;
      height: 120px;
      display: flex;
  
      .square {
        display: flex;
        width: 120px !important;
        height: 120px;
        background-color: #38ABBE;
        border-radius: 10px;
        color: #fff;
        margin: 0 10px;
      }
    }
  }
}